<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light">
  <div class="container-fluid">
    <div class="d-flex flex-row mb-3">
      <div class="p-2">@Html.ActionLink("Salon", "Index", "Home", null, new { @class = "navbar-brand"})</div>
      <div class="p-2">@Html.ActionLink("Stylists", "Index", "Stylists", null, new { @class = "nav-link"})</div>
      <div class="p-2">@Html.ActionLink("Clients", "Index", "Clients", null, new { @class = "nav-link"})</div>
    </div>
  </div>
</nav>