@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<h2>Search Stylists</h2>

<!-- Search Form -->
<form action="/Search" method="post">
  <label for="searchTerm">Search</label>
  <input id="searchTerm" name="searchTerm" type="text">
  <button type="submit">Search</button>
</form>

@* <a href='/records/@record.Id'>
@Html.LabelFor(model => model.searchTerm)
@Html.TextBoxFor(.searchTerm) *@
<!-- Submit -->
@* <input type="submit" value="Search Stylists" /> *@
