@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<h2>Search Stylists</h2>

<!-- Search Form -->
<form action="/Search" method="post">
  <p>
    <!-- From ASP.Net tutorial -->
    <input type="text" asp-for="SearchString" />
    <input type="submit" value="Search" />
  </p>
</form>