@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<h2>Search Stylists</h2>

@model HairSalon.Models.HairSalonContext

<!-- Search Form -->

<form action="/Stylists/SearchResults" method="post">
  <p>
    <label for="searchTerm">Search Stylists</label>
    <input id="searchTerm" name="searchTerm" type="text">
    <button type="submit">Search</button>
  </p>
</form>