@{
  Layout = "_Layout";
}
<img src="~/images/salon.png" alt="Salon logo"/>
<h1>BRUSH</h1>
<p>BRUSH is a fictional lifestyle salon featuring Hair Care, Botanical Hair Color, Waxing and Skin Care.</p>

<!-- Search Stylists -->
<form action="/Stylists/SearchResults" method="post" class="row g-3">
    <div class="col-auto">
      <label for="searchTerm" class="form-control-plaintext">Search Stylists</label>
    </div>
    <div class="col-auto">
      <input id="searchTerm" name="searchTerm" type="text" class="form-control">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-dark mb-3">Search</button>
    </div>
  </p>
</form>
<!-- Search Clients -->
<form action="/Clients/SearchResults" method="post" class="row g-3">
    <div class="col-auto">
      <label for="searchTerm" class="form-control-plaintext">Search Clients</label>
    </div>
    <div class="col-auto">
      <input id="searchTerm" name="searchTerm" type="text" class="form-control">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-dark mb-3">Search</button>
    </div>
</form>