@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<p>Salon is a Fictional Lifestyle Salon featuring Hair Care, Botanical Hair Color, Waxing and Skin Care.</p>

<p>We're not real but we're a steal.</p>
<!-- Search Stylists -->
<form action="/Stylists/SearchResults" method="post">
  <p>
    <label for="searchTerm">Search Stylists</label>
    <input id="searchTerm" name="searchTerm" type="text">
    <button type="submit">Search</button>
  </p>
</form>
<!-- Search Clients -->
<form action="/Clients/SearchResults" method="post">
  <p>
    <label for="searchTerm">Search Clients</label>
    <input id="searchTerm" name="searchTerm" type="text">
    <button type="submit">Search</button>
  </p>
</form>